<!-- LOG IN PAGE -->
<div class="wrapper">
  <div class="right">
    <div class="embed-page">
      <!-- LOG IN FORM -->
      <div id="vignette">
        <div id="v-container">
          <h2>Log In</h2>
          <p>Need an account first ?
            <a id="form" href="/auth/signup">signup</a></p>
          <form action="/auth/login" method="POST">

            <label>
              Username
              <input
                type="username"
                name="username"
                placeholder="Your username"
              />
            </label>

            <label>
              Password
              <input
                type="password"
                name="password"
                placeholder="Your password"
              />
            </label>
            <br /><br />

            <button id="login" type="submit">Log In</button>

            <!-- Error message -->
            {{#if errorMessage}}
              <p class="error">{{errorMessage}}</p>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>