<!-- LOG IN FORM -->
<div id="welcome-page">
  <div class="wrapper">
    <div class="left">

    </div>
    <div class="right">
      <div class="embed-page">
        <div id="login-form">
          <h2>Log In</h2>
          <form action="/auth/login" method="POST">

            <label>
              Username
              <input
                type="username"
                name="username"
                placeholder="Your username"
              />
            </label>

            <label>
              Password
              <input
                type="password"
                name="password"
                placeholder="Your password"
              />
            </label>

            <button type="submit">Log In</button>

            <!-- Error message -->
            {{#if errorMessage}}
              <p class="error">{{errorMessage}}</p>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>