<!-- LOG IN PAGE -->
<div id="welcome-page">
  <div class="wrapper scroll-ok">
    <div class="left">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M13 12L21 12" stroke="#ead94c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M16 15L13.087 12.087V12.087C13.039 12.039 13.039 11.961 13.087 11.913V11.913L16 9" stroke="#ead94c"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path
            d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19"
            stroke="#963696" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
      </svg>

    </div>
    <div class="right">
      <div class="embed-page">
        <!-- LOG IN FORM -->
        <div id="vignette">
          <div id="v-container">
            <h2>Log In</h2>
            <p>Need an account first ?
              <a id="form" href="/auth/signup">signup</a>
            </p>
            <form class="form-btn" action="/auth/login" method="POST">
              <label>
                Username
                <input type="username" name="username" placeholder="" />
              </label>
              <br /><br />

              <label>
                Password
                <input type="password" name="password" placeholder="" />
              </label>
              <br /><br />

              <button id="login" type="submit"><span>Log In</span></button>
              <br />

              <!-- Error message -->
              {{#if errorMessage}}
              <p class="error">{{errorMessage}}</p>
              {{/if}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>