<!-- Edit my account FORM -->

{{# with user}}
  <div id="form">
    <h2>Edit my account</h2>
    <form action="/auth/update/{{id}}" method="POST">

      <label> Username
        <input type="text" name="username" value={{username}} />
      </label>

      <label> Email
        <input type="email" name="email" value={{email}} />
      </label>

      <label> Current Password
        <input type="password" name="password" placeholder="Your password" />
      </label>

      <label> New Password
        <input type="password" name="newPassword" placeholder="Your new password" />
      </label>

      <button type="submit">Edit informations</button>

{{/with}}
      <!-- Error message -->
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}  
      
    </form>
    
  </div>

  