<!-- Edit my account FORM -->
<div class="wrapper">
  <div class="right">
    <div class="embed-page">
      <div id="vignette">
    
      {{# with user}}
          <div id="v-container">
        <h2>Edit my account</h2>
        <form action="/auth/update/{{id}}" method="POST">

          <label> Username
            <input type="text" name="username" value={{username}} />
          </label>
          <br /><br />

          <label> Email
            <input type="email" name="email" value={{email}} />
          </label>
          <br /><br />

          <label> Current Password
            <input type="password" name="password" placeholder="Your password" />
          </label>
          <br /><br />

          <label> New Password
            <input type="password" name="newPassword" placeholder="Your new password" />
          </label>
          <br /><br />          

          <button type="submit">Edit informations</button>

          {{/with}}
          <!-- Error message -->
          {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
          {{/if}}  
          
        </form>
    
  </div>
  </div>
  </div>
  </div>
  </div>

  