<!-- Create a new profile Form-->
<div class="wrapper">
  <div class="right">
    <div class="embed-page">
      <div id="vignette">
        <div id="v-container">
          <h2>Create a profile</h2>
          <form action="/profile/profile" method="POST">

            <label>
              Name
              <input type="text" name="name" placeholder="Your name" />
            </label>

            <label>
              Birthdate
              <input type="text" name="dob" placeholder="mm/dd/yyyy" />
            </label>

            <label>
              Gender
              <select name="gender" id="gender">
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
              </select>
            </label>

            <label>
              Profile Picture
              <input
                type="text"
                name="profilePicture"
                placeholder="Your picture's url"
              />
            </label>
            <br /><br />

            <button type="submit">Create</button>

            <!-- Error message -->
            {{#if errorMessage}}
              <p class="error">{{errorMessage}}</p>
            {{/if}}

          </form>
        </div>
      </div>
    </div>
  </div>
</div>