<div id="welcome-page">
  <div class="wrapper scroll-ok">

    <div class="left">
      <svg viewBox="0 0 24 24" fill="none" version="1.1" id="svg10">
        <g id="SVGRepo_bgCarrier" stroke-width="0" />
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
        <g id="SVGRepo_iconCarrier">
          <path d="M3 19C3.69137 16.6928 5.46998 16 9.5 16C13.53 16 15.3086 16.6928 16 19" stroke="#963696"
            stroke-width="2" stroke-linecap="round" id="path1" />
          <path
            d="M13 9.5C13 11.433 11.433 13 9.5 13C7.567 13 6 11.433 6 9.5C6 7.567 7.567 6 9.5 6C11.433 6 13 7.567 13 9.5Z"
            stroke="#963696" stroke-width="2" id="path2" />
          <path
            d="m 18.225924,7.4593077 -0.174434,0.214964 z m 1.121427,-5.095241 -0.202193,0.189065 c 0.05234,0.05599 0.125533,0.08777 0.202193,0.08777 0.07666,0 0.149855,-0.03178 0.202194,-0.08777 z m 1.121438,5.095278 0.174437,0.214927 z m -1.121438,0.598422 V 7.7809407 Z M 18.400357,7.2443807 C 17.865209,6.8100957 17.2404,6.2406857 16.751729,5.6174227 16.257724,4.9873667 15.933171,4.3405197 15.933171,3.7457497 h -0.55365 c 0,0.781718 0.417234,1.550998 0.936515,2.213275 0.524617,0.669105 1.184598,1.26823 1.735454,1.715247 z m -2.467186,-3.498631 c 0,-1.072092 0.467895,-1.734842 1.046776,-1.961514 0.577606,-0.22617 1.385741,-0.06474 2.165211,0.768896 l 0.404387,-0.378129 c -0.881413,-0.942701 -1.918793,-1.240185 -2.771466,-0.906304 -0.851396,0.333379 -1.398558,1.249642 -1.398558,2.477051 z m 4.710055,3.928522 c 0.550845,-0.447017 1.210834,-1.046104 1.735436,-1.71521 0.519288,-0.662314 0.936518,-1.431594 0.936518,-2.213322 h -0.55365 c 0,0.59478 -0.324549,1.241627 -0.818554,1.871683 -0.488652,0.623263 -1.113466,1.192673 -1.648624,1.626958 z m 2.671954,-3.928532 c 0,-1.227403 -0.547154,-2.143666 -1.398557,-2.477041 -0.85266,-0.333881 -1.890053,-0.0364 -2.771465,0.906304 l 0.404387,0.378129 c 0.779465,-0.833639 1.587611,-0.99507 2.165217,-0.768896 0.57886,0.226669 1.046768,0.889414 1.046768,1.961504 z m -5.26369,3.928532 c 0.46929,0.380838 0.794733,0.660321 1.295861,0.660321 v -0.553652 c -0.266823,0 -0.432992,-0.11948 -0.946994,-0.53656 z m 2.242862,-0.429891 c -0.51401,0.417084 -0.680178,0.53656 -0.947001,0.53656 v 0.553652 c 0.501127,0 0.826563,-0.279483 1.295875,-0.660321 z"
            fill="#ead94c" id="path5" style="stroke-width:0.369101" />
          <path d="m 21.746504,3.6285687 h -0.738201 m 0,0 h -0.738201 m 0.738201,0 v -0.738209 m 0,0.738209 v 0.738193"
            stroke="#963696" stroke-width="0.553651" stroke-linecap="round" id="path6" />
          <path
            d="m 15.761985,11.658705 c 0,-1.7475647 0.374554,-2.1221197 2.122118,-2.1221197 h 2.946679 c 1.747552,0 2.12212,0.374555 2.12212,2.1221197 v 2.147688 c 0,1.747551 -0.374568,2.122119 -2.12212,2.122119 h -2.946679 c -1.747564,0 -2.122118,-0.374568 -2.122118,-2.122119 z"
            stroke="#ead94c" stroke-width="0.79899" id="path7" />
          <path d="M 16.96047,9.5365853 V 8.7375941" stroke="#ead94c" stroke-width="0.79899" stroke-linecap="round"
            id="path8" />
          <path d="M 21.754414,9.5365853 V 8.7375941" stroke="#ead94c" stroke-width="0.79899" stroke-linecap="round"
            id="path9" />
          <path d="m 17.359966,11.134567 h 3.994953" stroke="#963696" stroke-width="0.79899" stroke-linecap="round"
            id="path10" />
        </g>
      </svg>






    </div>

    <div class="right">
      <div class="embed-page">
        <div id="vignette">
          <div id="v-container">
            <h2>Hello, <span class="capitalize">{{profile.name}}</span></h2>
            <p>Already {{age}} Years old! it's time to take care of you.</p>
            <br />
            <form class="form-btn" action="/health/healthDetail/{{profile.id}}" method="get">
              <button type="submit"><span>Healthify</span></button>
            </form>
            <form class="form-btn" action="/agenda/agenda/{{profile.id}}" method="get">
              <button class="alink"  type="submit"><span>Agenda</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>