{{#with profile}}
HELLO {{name}}
{{/with}}
<p>{{age}} Years old</p>

<form action="/health/healthDetail" method="get">
<button type="submit">HEALTHIFY</button>
</form>
<form action="/agenda/agenda" method="get">
<button type="submit">AGENDA</button>
</form>

