
<div id="form">
  <h2>Create a profile</h2>
  <form action="/profile/profile" method="POST">

    <label> Name
      <input type="text" name="name" placeholder="Your name" />
    </label>

    <label> Age
      <input type="number" name="age" placeholder="Your age" />
    </label>

    <label> Profile Picture
      <input type="text" name="profilePicture" placeholder="Your picture's url" />
    </label>    

    <button type="submit">Create</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
