<head>
  <!-- CSS link -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<!-- SIGNUP FORM -->
<div id="vignette">
  <div id="v-container">
    <h2>Sign Up</h2>
    <p>Already registered ? <a id="form" href="/auth/login">login</a></p>
    <form class="form-btn" action="/auth/signup" method="POST">

      <label>Username
        <input type="text" name="username" placeholder="" />
      </label>
      <br /><br />

      <label>Email
        <input type="email" name="email" placeholder="" />
      </label>
      <br /><br />

      <label>Password
        <input type="password" name="password" placeholder="" />
      </label>
      <br /><br />

      <button type="submit"><span>Sign Up</span></button>
      <br />

      <!-- Error message -->
      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>