<div id="welcome-page">
  <div class="wrapper scroll-ok">
    <div class="left">
      <div class="presentation">

        <div class="line">
          <div class="decoration">
            <h1 class='pop-outin'>H</h1>
          </div>
          <h2>ealth</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1 class='pop-outin'>E</h1>
          </div>
          <h2>nhancement</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1 class='pop-outin'>A</h1>
          </div>
          <h2>genda</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1 class='pop-outin'>L</h1>
          </div>
          <h2>ifestyle</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1 class='pop-outin'><span class="citrine">T</span></h1>
          </div>
          <h2>racking</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1 class='pop-outin'><span class="citrine">H</span></h1>
          </div>
          <h2>ub</h2>
        </div>

      </div>
    </div>


    <div class="right">

      <div class="presentation">
       

      </div>
    </div>

  </div>
</div>