<div id="welcome-page">
<<<<<<< HEAD
    <div class="wrapper">
        <div class="left">

        </div>
        <div class="right">
        
        </div>
    </div>
=======
<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
>>>>>>> a9a9cda28f1921d277540ed259562aaa10e84da5
</div>