<div id="welcome-page">
  <div class="wrapper scroll-ok">
    <div class="left">
      <div class="presentation">

        <div class="line">
          <div class="decoration">
            <h1>H</h1>
          </div>
          <h2>ealth</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1>E</h1>
          </div>
          <h2>nhancement</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1>A</h1>
          </div>
          <h2>genda</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1>L</h1>
          </div>
          <h2>ifestyle</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1><span class="citrine">T</span></h1>
          </div>
          <h2>racking</h2>
        </div>

        <div class="line">
          <div class="decoration">
            <h1><span class="citrine">H</span></h1>
          </div>
          <h2>ub</h2>
        </div>

      </div>
    </div>


    <div class="right">
      <div class="embed-page">
        {{> signup}}
        <!--   <embed type="text/html"
        src="/auth/signup" width="100%" height="100%">   -->
      </div>
    </div>

  </div>
</div>