<html lang="en">

 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>{{appTitle}}</title>

   <!-- Bootstrap & CSS link --> 
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css" />
 </head>

 <body>
   <header>
      <nav class="navbar sticky-top navbar-expand-lg row">
         <div class="container-fluid">
            <!-- Logo -->               
            <div class="col-2 text-center d-flex align-items-center">
               <a class="navbar-brand" href="/"><img id="logo-img" src="/images/Diary.svg" alt="Logo" width="auto" height="40" class="d-inline-block"></a>
               <a id="logo-text" class="navbar-brand fw-bold fs-2 black" href="/">               
               B M L
               </a>                  
            </div>
            <div class="col-2 text-start">
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
            </div>

            <!-- Menus -->
            <div class="collapse navbar-collapse col-7 justify-content-center" id="navbarNavDropdown">
               <ul class="navbar-nav align-items-center">
                  <li class="nav-item">
                        <a class="nav-link alink fs-5 fw-lighter" aria-current="page" href="/auth/signup">Signup</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link alink fs-5 fw-lighter" href="/auth/login">Login</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link alink fs-5 fw-lighter" href="/auth/userProfile">My account</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link alink fs-5 fw-lighter" href="/profile/profile">Profile</a>
                  </li>
                  

                  <!-- dropdown menu -->
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle alink fs-5 fw-lighter" href="/profile/profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile.s page
                        </a>
                        <ul class="dropdown-menu">
                        {{#each profile}}
                           <li><a class="dropdown-item alink fw-lighter" href="/profile/profile">{{name}}</a></li>
                           <li><hr class="dropdown-divider hr-size"></li>
                        {{/each}}
                        </ul>
                  </li>
                  <li class="nav-item">
                     <form class="nav-link alink fs-5 fw-lighter text-uppercase" id="logout-form" action="/auth/logout" method="GET">
                        <button class="">Sign out</button> 
                     </form>     
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>

   <main>
      {{{body}}}
   </main>
   

   <footer>
      <div id="footer" class="text-sm-start text-md-start">
         <p>Sunitha and Thomas development & design, all right reserved ©</p>
      </div>
   </footer>

    
   <!-- Bootstrap script -->  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
   <!-- JavaScript script -->
    <script src="/js/script.js"></script>
 </body>

</html>