<div id="welcome-page">
  <div class="profile-full scroll-ok">
<div class="error-page">
  <div class="container scroll-ok">
    <img src="/images/404-error.svg" alt="404 page error with a cat image" />
    <h1>Oops ! Something's missing...</h1>
    <p>Check if everything is ok! Try again or come back
      <a class="alink" href="/">Home</a>.
    </p>
  </div>
</div>
  </div>
</div>