/* fonts Nunito and PT sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Fonts & colors palette*/
:root {
  --plumd: #ce78ce;
  --plumm: #dda0dd;
  --pluml: #eed2ee;
  --citrine: #ead94c;
  --plumdark: #963696;
  --white: #ffffff;
  --grey: #6b5f6b;
  --black: #000000;
  --text: "PT Sans", sans-serif;
  --title: "Nunito", sans-serif;
}

span.citrine {
  color: var(--citrine);
}

.b-test {
  border: solid 5px black;
}

/* initialisation */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  min-height: 100vh;
  font-family: var(--text);
  background: var(--white);
  background: linear-gradient(180deg, var(--pluml) 15%, white 40%);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: var(--title);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h2 {
  text-align: center;
  color: var(--black);
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px var(--pluml);
}

form,
label,
input,
select {
  font-family: var(--text);
}

.check {
  margin-top: 30px;
}

button,
form,
p {
  margin: 0;
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}
/*/////////////////////////////////
Overflow and scrollbar */
.scroll-ok {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 30px 10px 30px 10px;
  box-shadow: inset 0 0 2px var(--plumm);
  background: var(--pluml);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px 10px 30px 10px;
  box-shadow: inset 2px 2px 2px var(--pluml),
    inset -2px -2px 2px var(--plumdark);
  background: var(--plumd);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--plumdark);
}

/*/////////////////////////////////
links colors */
.alink:link {
  color: var(--white);
  font-weight: 600;
  transition: 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.alink:visited {
  color: var(--white);
}

.alink:hover {
  color: var(--citrine);
  font-weight: 600;
  text-shadow: -1px -1px 1px var(--white), 1px 1px 1px var(--black);
  background-color: transparent;
}

.alink:active {
  color: var(--citrine);
  background-color: none;
  transform: translate(2px, 2px);
}

/*///////////////////////// ////////
Animated Buttons */

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 32px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  height: 30px;
}

/* text */
.text {
  color: var(--white);
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  transition: all 0.5s ease;
}

/* hover effect on button width */
.Btn:hover {
  width: 120px;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Btn:hover .sign {
  width: 25%;
  transition-duration: 0.3s;
  padding-left: 5px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition: all 0.5s ease;
  padding-right: 5px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

/*/////////////////////////////////
 FORM */

form {
  padding-bottom: 16px;
}

p {
  text-align: center;
  padding-bottom: 30px;
}

form label {
  display: inline-block;
  color: var(--black);
  text-align: left;
  font-weight: 500;
  width: 100%;
  padding: 0 0 10px 10px;
}

form input,
form select {
  display: inline-block;
  font-size: 1em;
  font-weight: 200;
  padding: 5px 15px;
  width: 100%;
  border: 1px solid var(--pluml);
  border-radius: 10px 30px 10px 30px;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 2px 2px 4px var(--pluml);
}

a#form:link,
a#form:visited {
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
}

a#form:hover,
a#form:active {
  color: var(--plumm);
  background-color: unset;
  transition: 0.5s ease;
}

/*/////////////////////////////////
FORM "SUBMIT" BUTTON */

form.form-btn button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--white);
  background: var(--plumdark);
  border: 3px solid var(--plumm);
  border-radius: 30px 10px 30px 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 0px;
  margin: 0px 0px;
  transition: 0.75s;
  width: 100%;
}

form.form-btn button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--citrine);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

form.form-btn button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

form.form-btn button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: var(--white);
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

form.form-btn button:hover span {
  color: var(--white);
  animation: scaleUp 0.3s ease-in-out;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

form.form-btn button:active {
  transform: translate(5px, 5px);
}

/*/////////////////////////////////
HEADER */
header {
  min-height: 40px;
  height: 7vh;
  background: var(--plumdark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
  width: 90%;
}

#logo-img {
  margin-left: 0px;
}

nav h1 {
  color: var(--pluml);
  font-weight: bolder;
}

button.navbar-toggler {
  border: 1px solid var(--plumm);
  color: var(--plumdark);
}

button.navbar-toggler:hover {
  border: 1px solid var(--citrine);
  color: var(--plumdark);
}

ul.dropdown-menu {
  background-color: var(--plumdark);
  padding: 10px;
  border-color: var(--plumm);
  border-radius: 30px 10px 30px 10px;
}

ul.dropdown-menu:hover {
  background-color: var(--plumdark);
  padding: 10px;
  border-color: var(--plumm);
  border-radius: 30px 10px 30px 10px;
}

li.profile-border {
  border-bottom: 1px solid var(--plumm);
}

#icons-menu {
  width: 240px;
}

#logout-form button {
  color: var(--white);
  font-family: var(--title);
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid var(--plumd);
  border-radius: 30px 10px 30px 10px;
  transition: 0.75s ease;
}

#logout-form button:hover {
  color: var(--pluml);
  border: 1px solid var(--plumm);
  background-color: transparent;
  border-radius: 30px 10px 30px 10px;
}

#account-form button {
  color: var(--white);
  font-family: var(--title);
  font-size: unset;
  font-weight: unset;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid var(--plumm);
  border-radius: 30px 10px 30px 10px;
  transition: 0.75s ease;
}

#account-form button:hover {
  color: var(--pluml);
  border: 1px solid var(--plumm);
  background-color: transparent;
  border-radius: 30px 10px 30px 10px;
}

/*/////////////////////////////////
 MAIN */
main {
  position: relative;
  height: 93vh;
  padding-top: 24px;
  padding-bottom: 24px;
}

/*/////////////////////////////////
 Back & Forward Button */
section.navigation {
  position: absolute;
  top: 0;
  right: 5%;
  height: 32px;
  color: var(--plumd);
  display: flex;
  justify-content: end;
}

nav.back-Forward {
  height: 32px;
  width: 80px;
}
nav.back-Forward button {
  border: none;
  padding: 0 0;
  margin: 0 0;
  background: transparent;
}

nav.back-Forward svg {
  height: 32px;
  width: 32px;
}

/* Index Page */
#welcome-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 650px;
  width: 80%;
  max-width: 1300px;
  background-color: var(--white);
  border-radius: 10px 30px 10px 30px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.wrapper .left,
.wrapper .right {
  width: 50%;
  height: 650px;
}

.wrapper .left {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(
    180deg,
    var(--plumd) 25%,
    var(--plumm) 50%,
    var(--pluml) 75%
  );
  border-radius: 10px 0px 0px 30px;
}

.wrapper .left svg {
  margin: auto;
  height: auto;
  height: 50%;
}

/* welcome page presentation animation*/
.wrapper .left .presentation {
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper .left .presentation .decoration {
  display: inline-block;
  padding: 5px;
  background-color: var(--plumdark);
  border-radius: 30px 10px 30px 10px;
}

.wrapper .left .presentation h1 {
  display: inline;
  color: var(--pluml);
  font-weight: bolder;
  letter-spacing: 5px;
  vertical-align: middle;
}

.wrapper .left .presentation h2 {
  display: inline;
  padding-left: 5px;
  letter-spacing: 5px;
  vertical-align: middle;
}

.wrapper .right {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 0px 30px 0px 0px;
}

.right .embed-page {
  padding: 40px 25px 25px 25px;
  height: 100%;
  width: 100%;
}

#vignette {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

#v-container {
  width: 80%;
  height: 100%;
}

/*/////////////////////////////////
 Profile Page */
.profile-full {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1400px;
  height: 100%;
}

.profile-full h2 {
  text-shadow: 2px 2px 4px var(--plumd);
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
}

/* each profile + create profil */
.profile-vignette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 250px;
  width: 25%;
  max-width: 500px;
  min-height: 350px;
  max-height: 700px;
}

#one-profile {
  height: 90%;
  width: 90%;
  padding: 5px 5px 0;
  border-radius: 10px 30px 10px 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: var(--white);
}

#frame-profile {
  padding: 0px 0px 5px;
  border-radius: 10px 30px 10px 30px;
  background-color: var(--plumdark);
}

#frame-profile.create-profile {
  background-color: transparent;
}

#frame-profile h3 {
  color: var(--citrine);
  width: 90%;
  margin: 0px auto;
  font-weight: bold;
  border-radius: 10px 30px 10px 30px;
  background-color: var(--plumdark);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#frame-profile.create-profile h3 {
  padding: 5px 0 0;
  color: var(--plumdark);
  font-weight: bolder;
  background-color: transparent;
  text-shadow: 2px 2px 1px var(--pluml);
}

.profile-vignette img,
#create-svg {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 10px 30px 10px 30px;
  border: 5px solid var(--plumdark);
  background: linear-gradient(
    180deg,
    var(--plumd) 25%,
    var(--plumm) 50%,
    var(--pluml) 75%
  );
}

#create-svg {
  background: unset;
  background-color: var(--white);
}

div.sign #update-svg,
div.sign #delete-svg {
  min-width: 28px;
}

.profile-btn {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

#update-btn button {
  margin-right: 5px;
}

#delete-btn button,
#update-btn button {
  font-family: var(--title);
  font-weight: bold;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid var(--plumm);
  border-radius: 30px 10px 30px 10px;
  transition: 0.75s ease;
}

#update-btn button {
  border: 1px solid var(--plumd);
}

.prof-link {
  color: var(--plumd);
}

#delete-btn button:hover,
#update-btn button:hover {
  color: var(--plumd);
  border: 1px solid var(--plumd);
  border-radius: 30px 10px 30px 10px;
}

/*/////////////////////////////////
 when hover frame profile display two links for Agenda and Healthify*/
#frame-profile {
  position: relative;
  width: 100%;
}

.profile-picture {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#frame-profile:hover .profile-picture {
  opacity: 0.25;
}

#frame-profile:hover .middle {
  opacity: 1;
}

.healthify {
  padding: 10px 20px;
}

/*/////////////////////////////////
 Agenda Page */

#welcome-page2 {
  position: relative;
  height: 93%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.agenda-full {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 500px;
  width: 50%;
  max-width: 750px;
  height: 100%;
}

#calendar-container {
  min-width: 500px;
  width: 50%;
  max-width: 750px;
  max-height: 100%;
}

#calendar {
  width: 95%;
}

.agenda-container1 {
  position: sticky;
  top: 0;
  left: 0;
  width: 95%;
  min-width: 400px;
  max-width: 700px;
  height: 110px;
  border-radius: 10px 30px 10px 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

.agenda-container2 {
  width: 95%;
  min-width: 400px;
  max-width: 700px;
  height: 110px;
}

/* each appointment + create appointment */
.appointment {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px 30px 10px 30px;
  background-color: var(--white);
  border: solid 5px var(--plumd);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.add-appointment {
  width: 100%;
  border-radius: 10px 30px 10px 30px;
  background-color: var(--plumm);
  border: solid 5px var(--plumdark);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#frame-agenda {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px 30px 10px 30px;
}

#frame-agenda2 {
  display: flex;
  flex-direction: column;
  border-radius: 10px 30px 10px 30px;
}

#frame-agenda svg {
  height: 80%;
}

#frame-agenda a {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.details-app {
  display: none;
  color: var(--plumdark);
}

.details-app h4 {
  display: inline-block;
}

hr.appointment {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 75%;
  opacity: 0.75;
  border: 2px solid var(--plumd);
  border-radius: 10px 30px 10px 30px;
  box-shadow: unset;
}

/*/////////////////////////////////
 Recipe Page */

.right .embed-page-recipe {
  padding: 10px 25px 25px 25px;
  height: 100%;
  width: 100%;
}

#v-container-recipe {
  width: 100%;
  height: 100%;
}

div.image-title {
  position: relative;
  width: 100%;
  height: 100%;
}

img.recipe-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 10px 0px 0px 30px;
  border: solid 5px var(--plumdark);
}

h2.recipe {
  font-size: 2.5em;
  color: var(--citrine);
  text-shadow: 0px 0px 6px var(--black), 2px 0px 1px var(--plumdark),
    -2px 0px 1px var(--plumdark), 0px 2px 1px var(--plumdark),
    0px -2px 1px var(--plumdark);
}

h3.recipe {
  color: var(--black);
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px var(--pluml);
}

div#nutrition {
  position: absolute;
  top: 200px;
  left: 5%;
}

div#nutrition2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.size-chart{
  min-width: 300px;
  width: 80%;
  max-width: 400px;
}


/*/////////////////////////////////
 CAROUSSEL */
.recipe-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#carouselExampleIndicators {
  width: 100%;
  height: 100%;
  border-radius: 10px 30px 10px 30px;
  background: linear-gradient(
    180deg,
    var(--plumd) 25%,
    var(--plumm) 50%,
    var(--pluml) 75%
  );
}

.carousel-item img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  opacity: 0.75;
  border: solid 5px var(--plumdark);
  border-radius: 10px 30px 10px 30px;
}

.carousel-caption ul {
  background-color: rgba(150, 54, 150, 0.5);
  border-radius: 10px 30px 10px 30px;
  list-style: none;
  padding: 0;
  font-weight: 800;
  font-size: 1.2em;
}

/*/////////////////////////////////
 FOOTER */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--plumd);
  border-radius: 15px 15px 0 0;
  background-color: var(--pluml);
}

footer p {
  padding-bottom: 0;
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s ease;
}

footer a:hover {
  color: var(--citrine);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*/////////////////////////////////
 ERROR MESSAGE */
.error {
  box-sizing: border-box;
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.7);
  border: inset 5px rgba(255, 0, 0, 0.2);
  box-shadow: 2px 2px 4px var(--plumm);
  border-radius: 10px;
}

/*/////////////////////////////////
 ERROR PAGE */
.error-page {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

.error-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page img {
  width: 45%;
  height: auto;
}

.error-page h1 {
  color: var(--plumdark);
  text-align: center;
  font-size: 3.5em;
}

.error-page p {
  color: var(--black);
  text-align: center;
  font-size: 1.5em;
}

.error-page .alink {
  text-decoration: none;
  font-weight: bold;
}

.error-page .alink:hover,
.error-page .alink:active,
.error-page .alink:visited {
  color: var(--citrine);
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

/*/////////////////////////////////
 MEDIA QUERIES */

/* mobile screen ---------------------------------------------------*/
/* mobile screen ---------------------------------------------------*/
/* mobile screen ---------------------------------------------------*/

@media (max-width: 500px) {
  /* mobile 1st design method min 500px width */
}

/* small screen ---------------------------------------------------*/
/* small screen ---------------------------------------------------*/
/* small screen ---------------------------------------------------*/

@media (min-width: 500px) and (max-width: 991px) {
  header {
    min-height: 7vh;
    height: unset;
  }
  /* Index Page */
  .wrapper {
    flex-direction: column;
    height: 95%;
    max-height: 1300px;
    width: 95%;
    max-width: unset;
  }

  .wrapper .left,
  .wrapper .right {
    width: 100%;
    min-height: 650px;
  }

  .profile-full {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  #welcome-page2 {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .agenda-full.scroll-ok {
    overflow-y: unset;
    overflow-x: unset;
  }

  #scroll.wrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }

  #scroll.scroll-ok {
    overflow-y: unset;
    overflow-x: unset;
  }
}

/* medium screen ---------------------------------------------------*/
/* medium screen ---------------------------------------------------*/
/* medium screen ---------------------------------------------------*/

@media (min-width: 1025px) and (max-width: 1440px) {
}

/*large screen ---------------------------------------------------*/
/*large screen ---------------------------------------------------*/
/*large screen ---------------------------------------------------*/

@media (min-width: 1441px) {
}
