/* fonts Nunito and PT sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Fonts & colors palette*/
:root {
  --plumd: #ce78ce;
  --plumm: #dda0dd;
  --pluml: #eed2ee;
  --citrine: #ead94c;
  --plumdark: #963696;
  --white: #ffffff;
  --grey: #6b5f6b;
  --black: #000000;
  --text: "PT Sans", sans-serif;
  --title: "Nunito", sans-serif;
}

/* initialisation */
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--text);
  background: var(--pluml);
  background: linear-gradient(180deg, var(--pluml) 15%, white 40%);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: var(--title);
}

h2 {
  text-align: center;
  color: var(--black);
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px var(--pluml);
}

form,
label,
input,
select {
  font-family: var(--text);
}
.check{
  margin-top: 30px;
}
button,
form,
p {
  margin: 0;
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}

/* links colors */
.alink:link {
  color: var(--white);
  transition: 0.5s ease;
}

.alink:visited {
  color: var(--white);
}

.alink:hover {
  color: var(--citrine);
  background-color: var(--plumdark);
}

.alink:active {
  color: var(--citrine);
  background-color: var(--plumdark);
}

/*/////////////////////////////////
 FORM */
p {
  text-align: center;
  padding-bottom: 30px;
}

form label {
  display: inline-block;
  color: var(--black);
  text-align: left;
  font-weight: 500;
  width: 100%;
  padding: 0 0 10px 10px;
}

form input,
form select {
  display: inline-block;
  font-size: 1em;
  font-weight: 200;
  padding: 5px 15px;
  width: 100%;
  border: 1px solid var(--pluml);
  border-radius: 10px 30px 10px 30px;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 1px 2px 4px var(--pluml);
}

#form:link,
#form:visited {
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s ease;
}

#form:hover,
#form:active {
  color: var(--plumm);
  background-color: unset;
}

form button {
  background: var(--plumdark);
  border: 3px solid var(--plumd);
  border-radius: 30px 10px 30px 10px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 0px;
  margin: 10px 0px;
  transition: 0.75s linear;
  width: 100%;
}

form button:hover {
  background-color: var(--plumm);
  box-shadow: 1px 2px 4px var(--pluml);
}

.edit-btn:link,
.edit-btn:visited {
  display: block;
  text-decoration: none;
  text-align: center;
  background: var(--plumdark);
  border: 3px solid var(--plumd);
  border-radius: 30px 10px 30px 10px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 0px;
  margin: 10px 0px;
  transition: 0.75s linear;
  width: 100%;
}

.edit-btn:hover,
.edit-btn:active {
  background-color: var(--plumm);
  box-shadow: 1px 2px 4px var(--pluml);
}

/*/////////////////////////////////
HEADER */
header {
  height: 7vh;
  background: var(--plumdark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  box-shadow: 2px 2px 4px var(--plumd);
}

nav {
  width: 90%;
}

#logo-img {
  margin-left: 0px;
}

nav h1 {
  color: var(--pluml);
  font-weight: bolder;
}

span.citrine {
  color: var(--citrine);
}

button.navbar-toggler {
  border: 1px solid var(--plumm);
  color: var(--plumdark);
}

button.navbar-toggler:hover {
  border: 1px solid var(--citrine);
  color: var(--plumdark);
}

ul.dropdown-menu {
  background-color: var(--plumdark);
  padding: 10px;
  border-color: var(--plumm);
  border-radius: 30px 10px 30px 10px;
}

ul.dropdown-menu:hover {
  background-color: var(--plumdark);
  padding: 10px;
  border-color: var(--plumm);
  border-radius: 30px 10px 30px 10px;
}

li.profile-border {
  border-bottom: 1px solid var(--plumm);
}

#logout-form button {
  color: var(--plumd);
  font-size: unset;
  font-weight: unset;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid var(--plumdark);
  border-radius: 30px 10px 30px 10px;
  transition: 0.75s ease;
}

#logout-form button:hover {
  color: var(--pluml);
  border: 1px solid var(--plumm);
  background-color: transparent;
  border-radius: 30px 10px 30px 10px;
  box-shadow: unset;
}

/*/////////////////////////////////
 MAIN */
main {
  height: 90vh;
}

/* Index Page */
#welcome-page {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapper .left,
.wrapper .right {
  min-width: 490px;
  max-width: 700px;
  width: 45%;
  height: 750px;
  box-shadow: 1px 2px 4px var(--pluml);
}

.wrapper .left {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--citrine);
  border-radius: 0px 0px 0px 30px;
}

.wrapper .right {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 0px 30px 0px 0px;
}

.right .embed-page {
  padding: 50px 25px;
  height: 100%;
  width: 100%;
}

.w-profile{
  width: 90%;
  height: 750px;
  background-color: var(--white);
  border-radius: 0px 30px 0px 30px;
  box-shadow: 1px 2px 4px var(--pluml);
}

/* Vignette */
#vignette {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

#v-container {
  width: 80%;
  height: 80%;
}

/* Profile Page */

/*/////////////////////////////////
 FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  color: white;
  border-radius: 15px 15px 0 0;
  background-color: var(--pluml);
}

footer p {
  text-shadow: var(--plumd) 1px 1px;
  padding-bottom: 0;
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s ease;
}

footer a:hover {
  color: var(--plumdark);
}

/*/////////////////////////////////
 ERROR MESSAGE */
.error {
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.7);
  border: inset 5px rgba(255, 0, 0, 0.2);
  box-shadow: 2px 2px 4px var(--plumm);
  border-radius: 10px;
}

/*/////////////////////////////////
 ERROR PAGE */
.error-page {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

.error-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page img {
  width: 45%;
  height: auto;
}

.error-page h1 {
  color: var(--plumdark);
  text-align: center;
  font-size: 3.5em;
}

.error-page p {
  color: var(--black);
  text-align: center;
  font-size: 1.5em;
}

.error-page .alink {
  color: #ead94c;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 30px 10px 30px 10px;
}

.error-page .alink:hover,
.error-page .alink:active,
.error-page .alink:visited {
  background-color: transparent;
  border: 1px solid var(--citrine);
}

/*/////////////////////////////////
 MEDIA QUERIES */

/* mobile screen ---------------------------------------------------*/
/* mobile screen ---------------------------------------------------*/
/* mobile screen ---------------------------------------------------*/

@media (max-width: 500px) {
  /* mobile 1st design method min 500px width */
}

/* small screen ---------------------------------------------------*/
/* small screen ---------------------------------------------------*/
/* small screen ---------------------------------------------------*/

@media (min-width: 500px) and (max-width: 991px) {
  /*/////////////////////////////////
 HEADER */

  header {
    min-height: 7%;
    height: unset;
  }

  /*/////////////////////////////////
 MAIN */
  main {
    min-height: 90vh;
    height: unset;
  }

  /* Index Page */

  .wrapper {
    justify-content: none;
    align-items: none;
    flex-direction: column-reverse;
  }

  .wrapper .left,
  .wrapper .right {
    width: 100%;
    max-width: unset;
    min-width: unset;
    border-radius: 15px;
    margin-bottom: 10px;
  }
}

/* medium screen ---------------------------------------------------*/
/* medium screen ---------------------------------------------------*/
/* medium screen ---------------------------------------------------*/

@media (min-width: 1025px) and (max-width: 1440px) {
}

/*large screen ---------------------------------------------------*/
/*large screen ---------------------------------------------------*/
/*large screen ---------------------------------------------------*/

@media (min-width: 1441px) {
}
