<div class="wrapper">
  <div class="right">
    <div class="embed-page">
      <div id="vignette">
        <div id="v-container">
          <h2>BMI Calculator</h2>

          <p><span class="fw-bold">B</span>ody
            <span class="fw-bold">M</span>ass
            <span class="fw-bold">I</span>ndex</p>
          <form action="/health/health" method="POST">

            <label>
              HEIGHT
              <input
                type="number"
                name="height"
                placeholder="height in cms"
                step="0.01"
              />
            </label>

            <label>
              WEIGHT
              <input
                type="number"
                name="weight"
                placeholder="weight n kilograms"
                step="0.01"
              />
            </label>

            <br /><br />

            <button id="calculate" type="submit">Calculate</button>

            <!-- Error message -->
            {{#if errorMessage}}
              <p class="error">{{errorMessage}}</p>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>