
{{!-- <div style="display:none" class="paleo"> --}}
  <h1>

    Paleo weight loss page
  </h1>

  <button id="breakfast">BREAKFAST</button>
  <div style="display:none" class="breakfast-menu">
    <ul>
      <li>Scrambled Eggs with Spinach </li>
    </ul>
  </div>
  <button id="lunch">LUNCH</button>
  <div style="display:none" class="lunch-menu">
    <ul>
      <li>Grilled Chicken Salad with Mixed Greens</li>
    </ul>
  </div>
  <button id="dinner">DINNER</button>
  <div style="display:none" class="dinner-menu">
    <ul>
      <li>Baked Salmon with Lemon and Dill </li>
    </ul>
  </div>

{{!-- </div> --}}
   
   
       

   
   
   
   
   
    {{!-- <h1>7-Day Paleo Meal Plan for Weight Loss</h1>

    <h2>Day 1:</h2>
    <h3>Breakfast:</h3>
    <p>Scrambled Eggs with Spinach and Mushrooms/Paleo Banana Pancakes (made with almond flour)<br>Sliced Avocado/Fresh Berries</p>

    <h3>Lunch:</h3>
    <p>Grilled Chicken Salad with Mixed Greens, Cherry Tomatoes, and Olive Oil Vinaigrette/Turkey and Avocado Lettuce Wraps andSliced Cucumber
 </p>

    <h3>Snack:</h3>
    <p>Carrot and Celery Sticks with Guacamole/Almonds and Walnuts</p>

    <h3>Dinner:</h3>
    <p>Baked Salmon with Lemon and Dill/Beef Stir-Fry with Broccoli, Bell Peppers, and Coconut Aminos
 <br>Steamed Asparagus/Cauliflower Rice</p> --}}

    <!-- Repeat the above structure for Days 2 to 7 -->



{{!-- Day 2:


Lunch:


Snack:


Dinner: --}}


