<h1>

     weight Gain page


  </h1>
<div>

  <button id="breakfast">BREAKFAST</button>
</div>
  <div style="display:none" class="breakfast-menu">
    <ul>
      <li><a href="/health/recipe/Avocado Egg Bake">Avocado Egg Bake</a> </li>
      <li><a href="/health/recipe/Cinnamon Banana Mug Cake">Cinnamon Banana Mug Cake</a> </li>
      <li><a href="/health/recipe/Pumpkin Pie Spiced Waffles">Pumpkin Pie Spiced Waffles</a> </li>
      <li><a href="/health/recipe/Cinnamon Apple Bites">Cinnamon Apple Bites </a> </li>
      <li><a href="/health/recipe/Eggs Baked in Avocado with Bacon">Eggs Baked in Avocado with Bacon</a> </li>
      <li><a href="/health/recipe/Pomegranate, Blueberry, and Spinach Smoothie"> Pomegranate, Blueberry, and Spinach Smoothie</a> </li>
      <li><a href="/health/recipe/Scrambled Eggs with Chorizo">Scrambled Eggs with Chorizo </a> </li>
      <li><a href="/health/recipe/Strawberry Spinach Smoothie">Strawberry Spinach Smoothie</a> </li>
      <li><a href="/health/recipe/Egg and Greens Skillet">Egg and Greens Skillet</a> </li>
    </ul>
  </div>
  <div>

  <button id="lunch">LUNCH</button>
  </div>
  <div style="display:none" class="lunch-menu">
    <ul>
      <li><a href="/health/recipe/Paleo Avocado Tuna Salad">Paleo Avocado Tuna Salad</a> </li>
      <li><a href="/health/recipe/Spinach & Avocado Soup">Spinach & Avocado Soup</a> </li>
      <li><a href="/health/recipe/Arugula Salad with Grapefruit dressing">Arugula Salad with Grapefruit dressing</a> </li>
      <li><a href="/health/recipe/Cauliflower and Tahini">Cauliflower and Tahini</a> </li>
      <li><a href="/health/recipe/Chicken Celery Sticks">Chicken Celery Sticks </a> </li>
      <li><a href="/health/recipe/Lemon Avocado Salad">Lemon Avocado Salad </a> </li>
      <li><a href="/health/recipe/Fruited Curry Chicken Salad">Fruited Curry Chicken Salad </a> </li>
      <li><a href="/health/recipe/Cool Summer Cucumber Chicken and Tomato Toss">Cool Summer Cucumber Chicken and Tomato Toss</a> </li>
    </ul>
  </div>
  <div>

  <button id="dinner">DINNER</button>
  </div>
  <div style="display:none" class="dinner-menu">
    <ul>
      <li><a href="/health/recipe/Lemon Balsamic Tilapia">Lemon Balsamic Tilapia </a> </li>
      <li><a href="/health/recipe/Salt and Pepper Chicken Wings">Salt and Pepper Chicken Wings</a> </li>
      <li><a href="/health/recipe/Summer Pepper and Tomato Salad"> Summer Pepper and Tomato Salad</a> </li>
      <li><a href="/health/recipe/Lemon Pepper Baked Tilapia">Lemon Pepper Baked Tilapia</a> </li>
      <li><a href="/health/recipe/Bacon-Wrapped Trout with Rosemary">Bacon-Wrapped Trout with Rosemary</a> </li>
      <li><a href="/health/recipe/Lemon Avocado Salad">Lemon Avocado Salad</a> </li>
      <li><a href="/health/recipe/Rosemary Crusted Lamb Chops">Rosemary Crusted Lamb Chops</a> </li>
      <li><a href="/health/recipe/One Pan Roasted Chicken & Veggies">One Pan Roasted Chicken & Veggies</a> </li>
    </ul>
  </div>
<div>
   <button id="snacks">SNACKS</button>
   </div>
   <div style="display:none" class="snack-menu">
    <ul>
        <li> Vegetable Chips</li>
        <li>Nuts and Seeds </li>
        <li>Fruit </li>
        <li> Roasted Chickpeas</li>
        <li> Veggie Sticks with Hummus</li>
        <li>Coconut chips</li>
        <li> Coconut yogurt</li>
        <li>Veggie/Fruit Sticks with Nut Butter </li>
    </ul>
   </div>
