<div id="welcome-page" class="recipe-page">

  <br>
  <h2>Paleo weight loss page</h2>
  <br>
  <div class="wrapper scroll-ok">




    <!--Caroussel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <!--Slide 1-->
        <div class="carousel-item active">
          <img
            src="https://www.foodandwine.com/thmb/wHbcU8Shxr8l2ErYsAzpuYg_xOY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/quinoa-pancakes-FT-RECIPE0521-4ed2171f80564bd880f3f36aad045255.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Breakfast"</h2>
            <p>
            <ul>
              <li><a class="alink" href="/health/recipe/Spinach Scrambled Eggs">Spinach Scrambled Eggs </a> </li>
              <li><a class="alink" href="/health/recipe/Microwave Poached Eggs">Microwave Poached Eggs </a> </li>
              <li><a class="alink" href="/health/recipe/Paleo Porridge">Paleo Porridge </a> </li>
              <li><a class="alink" href="/health/recipe/Kale, Peppers, Tomatoes, and Cashew Scramble">Kale, Peppers, Tomatoes, and
                  Cashew
                  Scramble </a> </li>
              <li><a class="alink" href="/health/recipe/Ham, Egg, and Spinach Roll-Ups">Ham, Egg, and Spinach Roll-Ups </a> </li>
              <li><a class="alink" href="/health/recipe/Over Easy Eggs">Over Easy Eggs </a> </li>
              <li><a class="alink" href="/health/recipe/Lemon Berry Smoothie">Lemon Berry Smoothie </a> </li>
              <li><a class="alink" href="/health/recipe/Egg and Asparagus Scramble">Egg and Asparagus Scramble </a> </li>
              <li><a class="alink" href="/health/recipe/High Protein Omelet">High Protein Omelet </a> </li>
            </ul>
            </p>
          </div>
        </div>

        <!--Slide 2-->
        <div class="carousel-item">
          <img
            src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2022/08/workday_lunch_ideas.jpeg.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Lunch"</h2>
            <p>
            <ul>
              <li><a class="alink" href="/health/recipe/Paleo Avocado Chicken Salad">Paleo Avocado Chicken Salad </a> </li>
              <li><a class="alink" href="/health/recipe/Avocado lettuce wrap">Avocado lettuce wrap</a> </li>
              <li><a class="alink" href="/health/recipe/Mixed Greens with Sliced Cucumber and Avocado">Mixed Greens with Sliced
                  Cucumber and
                  Avocado </a> </li>
              <li><a class="alink" href="/health/recipe/Raw Cauliflower Tabouli">Raw Cauliflower Tabouli </a> </li>
              <li><a class="alink" href="/health/recipe/Quick Buffalo Chicken Salad">Quick Buffalo Chicken Salad </a> </li>
              <li><a class="alink" href="/health/recipe/Brussels Sprout Slaw">Brussels Sprout Slaw </a> </li>
              <li><a class="alink" href="/health/recipe/Tuna with Avocado">Tuna with Avocado </a> </li>
              <li><a class="alink" href="/health/recipe/Chicken Celery Sticks">Chicken Celery Sticks</a> </li>
            </ul>
            </p>
          </div>
        </div>

        <!--Slide 3-->
        <div class="carousel-item">
          <img
            src="https://dmrqkbkq8el9i.cloudfront.net/Pictures/2000xAny/5/4/8/245548_crispsnutssnacks_423369_crop.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Snacks"</h2>
            <p>
            <ul>
              <li><a class="alink" href="">Mixed Nuts</a></li>
              <li><a class="alink" href="">Avocado Slices</a></li>
              <li><a class="alink" href="">Carrot Sticks with Guacamole</a></li>
              <li><a class="alink" href="">Coconut Chips</a></li>
              <li><a class="alink" href="">Veggie Sticks with Almond Butter</a></li>
              <li><a class="alink" href="">Zucchini Chips</a></li>
              <li><a class="alink" href="">Fruit Salad</a></li>
              <li><a class="alink" href="">Sliced Bell Peppers with Salsa</a></li>
              <li><a class="alink" href="">Kale Chips</a></li>
            </ul>
            </p>
          </div>
        </div>

        <!--Slide 4-->
        <div class="carousel-item">
          <img
            src="https://st2.depositphotos.com/2931363/8568/i/450/depositphotos_85684752-stock-photo-people-having-dinner-at-the.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Dinner"</h2>
            <p>
            <ul>
              <li><a class="alink" href="/health/recipe/Sausages with Tomato Chutney">Sausages with Tomato Chutney </a> </li>
              <li><a class="alink" href="/health/recipe/Cauliflower and Tahini">Cauliflower and Tahini </a> </li>
              <li><a class="alink" href="/health/recipe/Raw Cauliflower Tabouli">Raw Cauliflower Tabouli </a> </li>
              <li><a class="alink" href="/health/recipe/Spinach Avocado Soup">Spinach Avocado Soup </a> </li>
              <li><a class="alink" href="/health/recipe/Zucchini Scramble">Zucchini Scramble </a> </li>
              <li><a class="alink" href="/health/recipe/Caramelized Cauliflower Steaks">Caramelized Cauliflower Steaks </a> </li>
              <li><a class="alink" href="/health/recipe/Fried Broccoli">Fried Broccoli </a> </li>
              <li><a class="alink" href="/health/recipe/Cilantro Lime Shrimp">Cilantro Lime Shrimp </a> </li>
            </ul>
            </p>
          </div>
        </div>

      </div>

      <!--Slide buttons-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




  </div>
</div>
