<h1>

    Paleo weight loss page
  </h1>
<div>

  <button id="breakfast">BREAKFAST</button>
</div>
  <div style="display:none" class="breakfast-menu">
    <ul>
      <li><a href="/health/recipe/Spinach Scrambled Eggs">Spinach Scrambled Eggs </a> </li>
      <li><a href="/health/recipe/Microwave Poached Eggs">Microwave Poached Eggs </a> </li>
      <li><a href="/health/recipe/Paleo Porridge">Paleo Porridge </a> </li>
      <li><a href="/health/recipe/Kale, Peppers, Tomatoes, and Cashew Scramble">Kale, Peppers, Tomatoes, and Cashew Scramble </a> </li>
      <li><a href="/health/recipe/Ham, Egg, and Spinach Roll-Ups">Ham, Egg, and Spinach Roll-Ups </a> </li>
      <li><a href="/health/recipe/Over Easy Eggs">Over Easy Eggs </a> </li>
      <li><a href="/health/recipe/Lemon Berry Smoothie">Lemon Berry Smoothie </a> </li>
      <li><a href="/health/recipe/Egg and Asparagus Scramble">Egg and Asparagus Scramble </a> </li>
      <li><a href="/health/recipe/High Protein Omelet">High Protein Omelet </a> </li>
    </ul>
  </div>
  <div>

  <button id="lunch">LUNCH</button>
  </div>
  <div style="display:none" class="lunch-menu">
    <ul>
      <li><a href="/health/recipe/Paleo Avocado Chicken Salad">Paleo Avocado Chicken Salad </a> </li>
      <li><a href="/health/recipe/Avocado lettuce wrap">Avocado lettuce wrap</a> </li>
      <li><a href="/health/recipe/Mixed Greens with Sliced Cucumber and Avocado">Mixed Greens with Sliced Cucumber and Avocado </a> </li>
      <li><a href="/health/recipe/Raw Cauliflower Tabouli">Raw Cauliflower Tabouli </a> </li>
      <li><a href="/health/recipe/Quick Buffalo Chicken Salad">Quick Buffalo Chicken Salad </a> </li>
      <li><a href="/health/recipe/Brussels Sprout Slaw">Brussels Sprout Slaw </a> </li>
      <li><a href="/health/recipe/Tuna with Avocado">Tuna with Avocado </a> </li>
      <li><a href="/health/recipe/Chicken Celery Sticks">Chicken Celery Sticks</a> </li>
    </ul>
  </div>
  <div>

  <button id="dinner">DINNER</button>
  </div>
  <div style="display:none" class="dinner-menu">
    <ul>
      <li><a href="/health/recipe/Sausages with Tomato Chutney">Sausages with Tomato Chutney </a> </li>
      <li><a href="/health/recipe/Cauliflower and Tahini">Cauliflower and Tahini </a> </li>
      <li><a href="/health/recipe/Raw Cauliflower Tabouli">Raw Cauliflower Tabouli </a> </li>
      <li><a href="/health/recipe/Spinach Avocado Soup">Spinach Avocado Soup </a> </li>
      <li><a href="/health/recipe/Zucchini Scramble">Zucchini Scramble </a> </li>
      <li><a href="/health/recipe/Caramelized Cauliflower Steaks">Caramelized Cauliflower Steaks </a> </li>
      <li><a href="/health/recipe/Fried Broccoli">Fried Broccoli </a> </li>
      <li><a href="/health/recipe/Cilantro Lime Shrimp">Cilantro Lime Shrimp </a> </li>
    </ul>
  </div>
<div>
   <button id="snacks">SNACKS</button>
   </div>
   <div style="display:none" class="snack-menu">
    <ul>
        <li>Mixed Nuts</li>
        <li>Avocado Slices</li>
        <li>Carrot Sticks with Guacamole</li>
        <li>Coconut Chips</li>
        <li>Veggie Sticks with Almond Butter</li>
        <li>Zucchini Chips</li>
        <li>Fruit Salad</li>
        <li>Sliced Bell Peppers with Salsa</li>
        <li>Kale Chips</li>
    </ul>
   </div>
