<h1>


        Vegan weight Gain page


  </h1>
<div>

  <button id="breakfast">BREAKFAST</button>
</div>
  <div style="display:none" class="breakfast-menu">
    <ul>
      <li><a href="/health/recipe/Knock-Oats">Knock-Oats</a> </li>
      <li><a href="/health/recipe/Strawberry Coconut Milkshake">Strawberry Coconut Milkshake</a> </li>
      <li><a href="/health/recipe/Apples and Almond Butter">Apples and Almond Butter</a> </li>
      <li><a href="/health/recipe/Pomegranate Blueberry and Spinach Smoothie">Pomegranate Blueberry and Spinach Smoothie </a> </li>
      <li><a href="/health/recipe/Peanut Butter Banana English Muffin">Peanut Butter Banana English Muffin</a> </li>
      <li><a href="/health/recipe/Super Green Smoothie Bowl"> Super Green Smoothie Bowl</a> </li>
      <li><a href="/health/recipe/Brown Sugar Pecan Oatmeal">Brown Sugar Pecan Oatmeal </a> </li>
      <li><a href="/health/recipe/Peaches & Almond Butter on Toast">Peaches & Almond Butter on Toast</a> </li>
      <li><a href="/health/recipe/Crispy Hash Browns">Crispy Hash Browns</a> </li>
    </ul>
  </div>
  <div>

  <button id="lunch">LUNCH</button>
  </div>
  <div style="display:none" class="lunch-menu">
    <ul>
      <li><a href="/health/recipe/Two Bean Salad">Two Bean Salad</a> </li>
      <li><a href="/health/recipe/Zesty Kale Cucumber Salad">Zesty Kale Cucumber Salad</a> </li>
      <li><a href="/health/recipe/Ants on a Log">Ants on a Log</a> </li>
      <li><a href="/health/recipe/Tomato and Hummus Pocket Sandwich">Tomato and Hummus Pocket Sandwich</a> </li>
      <li><a href="/health/recipe/Arugula Salad with Grapefruit dressing">Arugula Salad with Grapefruit dressing </a> </li>
      <li><a href="/health/recipe/Vegan Banana Oatmeal Smoothie">Vegan Banana Oatmeal Smoothie </a> </li>
      <li><a href="/health/recipe/White Bean & Artichoke Toast">White Bean & Artichoke Toast </a> </li>
      <li><a href="/health/recipe/Sundried Tomato and Avocado Chopped Salad">Sundried Tomato and Avocado Chopped Salad</a> </li>
    </ul>
  </div>
  <div>

  <button id="dinner">DINNER</button>
  </div>
  <div style="display:none" class="dinner-menu">
    <ul>
      <li><a href="/health/recipe/Peanut Tofu">Peanut Tofu </a> </li>
      <li><a href="/health/recipe/Sautéed Spinach with Pine Nuts">Sautéed Spinach with Pine Nuts</a> </li>
      <li><a href="/health/recipe/Spaghetti with Onion and Mushroom">Spaghetti with Onion and Mushroom </a> </li>
      <li><a href="/health/recipe/Lemon Steamed Broccoli">Lemon Steamed Broccoli</a> </li>
      <li><a href="/health/recipe/Couscous Black Bean and Corn Salad">Couscous Black Bean and Corn Salad</a> </li>
      <li><a href="/health/recipe/Grilled Asparagus">Grilled Asparagus</a> </li>
      <li><a href="/health/recipe/Salad with Ginger-Sesame-Miso Dressing">Salad with Ginger-Sesame-Miso Dressing</a> </li>
      <li><a href="/health/recipe/Cauliflower and Tahini">Cauliflower and Tahini</a> </li>
    </ul>
  </div>
<div>
   <button id="snacks">SNACKS</button>
   </div>
   <div style="display:none" class="snack-menu">
    <ul>
       <li> Vegetable Chips</li>
        <li>Nuts and Seeds </li>
        <li>Fruit </li>
        <li> Roasted Chickpeas</li>
        <li> Veggie Sticks with Hummus</li>
        <li>Coconut chips</li>
        <li> Coconut yogurt</li>
        <li>Veggie/Fruit Sticks with Nut Butter </li>
    </ul>
   </div>
