<div id="welcome-page" class="recipe-page">
  <br>
  <h2>Vegan weight gain page</h2>
  <br>
  <div class="wrapper scroll-ok">


    <!--Caroussel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <!--Slide 1-->
        <div class="carousel-item active">
          <img src="https://static.chloeting.com/recipes/61ffa47c2a18c23f7d7f985a/images/vegan-breakfast-plate-1.webp"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Breakfast"</h2>
            <p>
            <ul>
              <li><a class="alink" href="/health/recipe/Knock-Oats">Knock-Oats</a> </li>
              <li><a class="alink" href="/health/recipe/Strawberry Coconut Milkshake">Strawberry Coconut Milkshake</a>
              </li>
              <li><a class="alink" href="/health/recipe/Apples and Almond Butter">Apples and Almond Butter</a> </li>
              <li><a class="alink" href="/health/recipe/Pomegranate Blueberry and Spinach Smoothie">Pomegranate
                  Blueberry and Spinach Smoothie </a> </li>
              <li><a class="alink" href="/health/recipe/Peanut Butter Banana English Muffin">Peanut Butter Banana
                  English Muffin</a> </li>
              <li><a class="alink" href="/health/recipe/Super Green Smoothie Bowl"> Super Green Smoothie Bowl</a> </li>
              <li><a class="alink" href="/health/recipe/Brown Sugar Pecan Oatmeal">Brown Sugar Pecan Oatmeal </a> </li>
              <li><a class="alink" href="/health/recipe/Peaches & Almond Butter on Toast">Peaches & Almond Butter on
                  Toast</a> </li>
              <li><a class="alink" href="/health/recipe/Crispy Hash Browns">Crispy Hash Browns</a> </li>
            </ul>
            </p>
          </div>
        </div>

        <!--Slide 2-->
        <div class="carousel-item">
          <img
            src="https://cdn77-s3.lazycatkitchen.com/wp-content/uploads/2017/08/vegan-lunch-bowl-portion-800x1200.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Lunch"</h2>
            <p>
            <ul>
              <li><a class="alink" href="/health/recipe/Two Bean Salad">Two Bean Salad</a> </li>
              <li><a class="alink" href="/health/recipe/Zesty Kale Cucumber Salad">Zesty Kale Cucumber Salad</a> </li>
              <li><a class="alink" href="/health/recipe/Ants on a Log">Ants on a Log</a> </li>
              <li><a class="alink" href="/health/recipe/Tomato and Hummus Pocket Sandwich">Tomato and Hummus Pocket
                  Sandwich</a> </li>
              <li><a class="alink" href="/health/recipe/Arugula Salad with Grapefruit dressing">Arugula Salad with
                  Grapefruit dressing </a>
              </li>
              <li><a class="alink" href="/health/recipe/Vegan Banana Oatmeal Smoothie">Vegan Banana Oatmeal Smoothie
                </a> </li>
              <li><a class="alink" href="/health/recipe/White Bean & Artichoke Toast">White Bean & Artichoke Toast </a>
              </li>
              <li><a class="alink" href="/health/recipe/Sundried Tomato and Avocado Chopped Salad">Sundried Tomato and
                  Avocado Chopped Salad</a>
              </li>
            </ul>
            </p>
          </div>
        </div>

        <!--Slide 3-->
        <div class="carousel-item">
          <img src="https://cdn77-s3.lazycatkitchen.com/wp-content/uploads/2015/01/oven-roasted-hazelnuts-800x533.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Snacks"</h2>
            <p>
            <ul>
              <li><a class="alink" href="">Vegetable Chips</a></li>
              <li><a class="alink" href="">Nuts and Seeds</a></li>
              <li><a class="alink" href="">Fruit</a></li>
              <li><a class="alink" href="">Roasted Chickpeas</a></li>
              <li><a class="alink" href="">Veggie Sticks with Hummus</a></li>
              <li><a class="alink" href="">Coconut chips</a></li>
              <li><a class="alink" href="">Coconut yogurt</a></li>
              <li><a class="alink" href="">Veggie/Fruit Sticks with Nut Butter</a></li>
            </ul>
            </p>
          </div>
        </div>

        <!--Slide 4-->
        <div class="carousel-item">
          <img src="https://cdn77-s3.lazycatkitchen.com/wp-content/uploads/2020/10/vegan-fajita-bowls-800x1200.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Dinner"</h2>
            <p>
            <ul>
              <li><a class="alink" href="/health/recipe/Peanut Tofu">Peanut Tofu </a> </li>
              <li><a class="alink" href="/health/recipe/Sautéed Spinach with Pine Nuts">Sautéed Spinach with Pine
                  Nuts</a> </li>
              <li><a class="alink" href="/health/recipe/Spaghetti with Onion and Mushroom">Spaghetti with Onion and
                  Mushroom </a> </li>
              <li><a class="alink" href="/health/recipe/Lemon Steamed Broccoli">Lemon Steamed Broccoli</a> </li>
              <li><a class="alink" href="/health/recipe/Couscous Black Bean and Corn Salad">Couscous Black Bean and Corn
                  Salad</a> </li>
              <li><a class="alink" href="/health/recipe/Grilled Asparagus">Grilled Asparagus</a> </li>
              <li><a class="alink" href="/health/recipe/Salad with Ginger-Sesame-Miso Dressing">Salad with
                  Ginger-Sesame-Miso Dressing</a> </li>
              <li><a class="alink" href="/health/recipe/Cauliflower and Tahini">Cauliflower and Tahini</a> </li>
            </ul>
            </p>
          </div>
        </div>

      </div>

      <!--Slide buttons-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




  </div>
</div>