<h1>

Vegan weight loss page
</h1>
<div>

 <button id="breakfast">BREAKFAST</button>
</div>
   <div style="display:none" class="breakfast-menu">
<ul>
      <li><a href="/health/recipe/Tempeh Strips with Almond Sauce">Tempeh Strips with Almond Sauce </a> </li>
      <li><a href="/health/recipe/Peaches & Almond Butter on Toast">Peaches & Almond Butter on Toast</a> </li>
      <li><a href="/health/recipe/Classic Avocado Toast"> Classic Avocado Toast</a> </li>
      <li><a href="/health/recipe/Blueberry Watermelon Smoothie">Blueberry Watermelon Smoothie</a> </li>
      <li><a href="/health/recipe/Blackberry Almond Butter Sandwich">Blackberry Almond Butter Sandwich </a> </li>
      <li><a href="/health/recipe/Dairy-Free Strawberry Oatmeal"> Dairy-Free Strawberry Oatmeal</a> </li>
      <li><a href="/health/recipe/Apple Granola Cookies">Apple Granola "Cookies"</a> </li>
      <li><a href="/health/recipe/Banana, Almond Butter, and Dates">Banana, Almond Butter, and Dates </a> </li>
      <li><a href="/health/recipe/Peach and Strawberry Smoothie">Peach and Strawberry Smoothie </a> </li>
    </ul>
   </div>
   <div>

   <button id="lunch">LUNCH</button>
   </div>
   <div style="display:none" class="lunch-menu">
<ul>
      <li><a href="/health/recipe/Easy Spinach and Scallion Salad">Easy Spinach and Scallion Salad </a> </li>
      <li><a href="/health/recipe/Cucumber Boats with Spicy Hummus"> Cucumber Boats with Spicy Hummus</a> </li>
      <li><a href="/health/recipe/Spinach and Broccoli Salad">Spinach and Broccoli Salad</a> </li>
      <li><a href="/health/recipe/Mixed Greens with Olive Oil and Lemon Salad Dressing">Mixed Greens with Olive Oil and Lemon Salad Dressing</a> </li>
      <li><a href="/health/recipe/Cauliflower and Tahini">Cauliflower and Tahini </a> </li>
      <li><a href="/health/recipe/Brussels Sprout Slaw">Brussels Sprout Slaw </a> </li>
      <li><a href="/health/recipe/Seedy Avocado Toast"> Seedy Avocado Toast</a> </li>
      <li><a href="/health/recipe/Quick & Easy Vegan Caesar Salad">Quick & Easy Vegan Caesar Salad</a> </li>
      <li><a href="/health/recipe/Avocado Chickpea Lettuce Wraps"> Avocado Chickpea Lettuce Wraps</a> </li>
      <li><a href="/health/recipe/Quick Nori Roll with Cucumber and Avocado"> Quick Nori Roll with Cucumber and Avocado</a> </li>
    </ul>
   </div>
   <div>

   <button id="dinner">DINNER</button>
   </div>
   <div style="display:none" class="dinner-menu">
<ul>
      <li><a href="/health/recipe/Mediterranean Salad"> Mediterranean Salad</a> </li>
      <li><a href="/health/recipe/Salad with Ginger-Sesame-Miso Dressing">Salad with Ginger-Sesame-Miso Dressing </a> </li>
      <li><a href="/health/recipe/Pasta la Checca"> Pasta la Checca</a> </li>
      <li><a href="/health/recipe/Garlic Green Beans with Tofu">Garlic Green Beans with Tofu</a> </li>
      <li><a href="/health/recipe/Chopped Salad">Chopped Salad </a> </li>
      <li><a href="/health/recipe/Broccoli Tofu Pitas">Broccoli Tofu Pitas</a> </li>
      <li><a href="/health/recipe/Vegan Chickpea Salad">Vegan Chickpea Salad </a> </li>
      <li><a href="/health/recipe/Lemon Steamed Broccoli">Lemon Steamed Broccoli</a> </li>
      <li><a href="/health/recipe/Avocado Quesadillas">Avocado Quesadillas </a> </li>
    </ul>
   </div>
   <div>

   <button id="snacks">SNACKS</button>
   </div>
   <div style="display:none" class="snack-menu">
    <ul>
        <li>Mixed Nuts</li>
        <li>Avocado Slices</li>
        <li>Carrot Sticks with Guacamole</li>
        <li>Coconut Chips</li>
        <li>Veggie Sticks with Almond Butter</li>
        <li>Zucchini Chips</li>
        <li>Fruit Salad</li>
        <li>Sliced Bell Peppers with Salsa</li>
        <li>Kale Chips</li>
    </ul>
   </div>