<div id="welcome-page" class="recipe-page">

   <br>
   <h2>Vegan weight loss page</h2>
   <br>
   <div class="wrapper scroll-ok">




      <!--Caroussel-->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
         <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
               aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
               aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
               aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
               aria-label="Slide 4"></button>
         </div>

         <div class="carousel-inner">
            <!--Slide 1-->
            <div class="carousel-item active">
               <img
                  src="https://static.chloeting.com/recipes/61ffa47c2a18c23f7d7f985a/images/vegan-breakfast-plate-1.webp"
                  class="d-block w-100" alt="...">
               <div class="carousel-caption d-md-block">
                  <h2 class="recipe">"Breakfast"</h2>
                  <p>
                  <ul>
                     <li><a class="alink" href="/health/recipe/Tempeh Strips with Almond Sauce">Tempeh Strips with
                           Almond Sauce </a> </li>
                     <li><a class="alink" href="/health/recipe/Peaches & Almond Butter on Toast">Peaches & Almond Butter
                           on Toast</a> </li>
                     <li><a class="alink" href="/health/recipe/Classic Avocado Toast"> Classic Avocado Toast</a> </li>
                     <li><a class="alink" href="/health/recipe/Blueberry Watermelon Smoothie">Blueberry Watermelon
                           Smoothie</a> </li>
                     <li><a class="alink" href="/health/recipe/Blackberry Almond Butter Sandwich">Blackberry Almond
                           Butter Sandwich </a> </li>
                     <li><a class="alink" href="/health/recipe/Dairy-Free Strawberry Oatmeal"> Dairy-Free Strawberry
                           Oatmeal</a> </li>
                     <li><a class="alink" href="/health/recipe/Apple Granola Cookies">Apple Granola "Cookies"</a> </li>
                     <li><a class="alink" href="/health/recipe/Banana, Almond Butter, and Dates">Banana, Almond Butter,
                           and Dates </a> </li>
                     <li><a class="alink" href="/health/recipe/Peach and Strawberry Smoothie">Peach and Strawberry
                           Smoothie </a> </li>
                  </ul>
                  </p>
               </div>
            </div>

            <!--Slide 2-->
            <div class="carousel-item">
               <img
                  src="https://cdn77-s3.lazycatkitchen.com/wp-content/uploads/2017/08/vegan-lunch-bowl-portion-800x1200.jpg"
                  class="d-block w-100" alt="...">
               <div class="carousel-caption d-md-block">
                  <h2 class="recipe">"Lunch"</h2>
                  <p>
                  <ul>
                     <li><a class="alink" href="/health/recipe/Easy Spinach and Scallion Salad">Easy Spinach and
                           Scallion Salad </a> </li>
                     <li><a class="alink" href="/health/recipe/Cucumber Boats with Spicy Hummus"> Cucumber Boats with
                           Spicy Hummus</a> </li>
                     <li><a class="alink" href="/health/recipe/Spinach and Broccoli Salad">Spinach and Broccoli
                           Salad</a> </li>
                     <li><a class="alink"
                           href="/health/recipe/Mixed Greens with Olive Oil and Lemon Salad Dressing">Mixed Greens with
                           Olive Oil and Lemon Salad Dressing</a> </li>
                     <li><a class="alink" href="/health/recipe/Cauliflower and Tahini">Cauliflower and Tahini </a> </li>
                     <li><a class="alink" href="/health/recipe/Brussels Sprout Slaw">Brussels Sprout Slaw </a> </li>
                     <li><a class="alink" href="/health/recipe/Seedy Avocado Toast"> Seedy Avocado Toast</a> </li>
                     <li><a class="alink" href="/health/recipe/Quick & Easy Vegan Caesar Salad">Quick & Easy Vegan
                           Caesar Salad</a> </li>
                     <li><a class="alink" href="/health/recipe/Avocado Chickpea Lettuce Wraps"> Avocado Chickpea Lettuce
                           Wraps</a> </li>
                     <li><a class="alink" href="/health/recipe/Quick Nori Roll with Cucumber and Avocado"> Quick Nori
                           Roll with Cucumber and Avocado</a> </li>
                  </ul>
                  </p>
               </div>
            </div>

            <!--Slide 3-->
            <div class="carousel-item">
               <img
                  src="https://cdn77-s3.lazycatkitchen.com/wp-content/uploads/2015/01/oven-roasted-hazelnuts-800x533.jpg"
                  class="d-block w-100" alt="...">
               <div class="carousel-caption d-md-block">
                  <h2 class="recipe">"Snacks"</h2>
                  <p>
                  <ul>
                     <li><a class="alink" href="">Mixed Nuts</a></li>
                     <li><a class="alink" href="">Avocado Slices</a></li>
                     <li><a class="alink" href="">Carrot Sticks with Guacamole</a></li>
                     <li><a class="alink" href="">Coconut Chips</a></li>
                     <li><a class="alink" href="">Veggie Sticks with Almond Butter</a></li>
                     <li><a class="alink" href="">Zucchini Chips</a></li>
                     <li><a class="alink" href="">Fruit Salad</a></li>
                     <li><a class="alink" href="">Sliced Bell Peppers with Salsa</a></li>
                     <li><a class="alink" href="">Kale Chips</a></li>
                  </ul>
                  </p>
               </div>
            </div>

            <!--Slide 4-->
            <div class="carousel-item">
               <img src="https://cdn77-s3.lazycatkitchen.com/wp-content/uploads/2020/10/vegan-fajita-bowls-800x1200.jpg"
                  class="d-block w-100" alt="...">
               <div class="carousel-caption d-md-block">
                  <h2 class="recipe">"Dinner"</h2>
                  <p>
                  <ul>
                     <li><a class="alink" href="/health/recipe/Mediterranean Salad"> Mediterranean Salad</a> </li>
                     <li><a class="alink" href="/health/recipe/Salad with Ginger-Sesame-Miso Dressing">Salad with
                           Ginger-Sesame-Miso Dressing </a>
                     </li>
                     <li><a class="alink" href="/health/recipe/Pasta la Checca"> Pasta la Checca</a> </li>
                     <li><a class="alink" href="/health/recipe/Garlic Green Beans with Tofu">Garlic Green Beans with
                           Tofu</a> </li>
                     <li><a class="alink" href="/health/recipe/Chopped Salad">Chopped Salad </a> </li>
                     <li><a class="alink" href="/health/recipe/Broccoli Tofu Pitas">Broccoli Tofu Pitas</a> </li>
                     <li><a class="alink" href="/health/recipe/Vegan Chickpea Salad">Vegan Chickpea Salad </a> </li>
                     <li><a class="alink" href="/health/recipe/Lemon Steamed Broccoli">Lemon Steamed Broccoli</a> </li>
                     <li><a class="alink" href="/health/recipe/Avocado Quesadillas">Avocado Quesadillas </a> </li>
                  </ul>
                  </p>
               </div>
            </div>

         </div>

         <!--Slide buttons-->
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
         </button>

         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
         </button>
      </div>




   </div>
</div>