<h1>

            Vegetarian weight Gain page


  </h1>
<div>

  <button id="breakfast">BREAKFAST</button>
</div>
  <div style="display:none" class="breakfast-menu">
    <ul>
      <li><a href="/health/recipe/Banana Avocado Protein Smoothie">Banana Avocado Protein Smoothie</a> </li>
      <li><a href="/health/recipe/Rice Cake with Strawberries, Cottage Cheese, and Honey">Rice Cake with Strawberries, Cottage Cheese, and Honey</a> </li>
      <li><a href="/health/recipe/Eggs, Cheese, and Mushroom Omelet">Eggs, Cheese, and Mushroom Omelet</a> </li>
      <li><a href="/health/recipe/Cottage Cheese with Apples & Cinnamon">Cottage Cheese with Apples & Cinnamon </a> </li>
      <li><a href="/health/recipe/Protein-boosted Honey Yogurt">Protein-boosted Honey Yogurt</a> </li>
      <li><a href="/health/recipe/Peanut Butter Berry Pineapple Protein Smoothie">Peanut Butter Berry Pineapple Protein Smoothie </a> </li>
      <li><a href="/health/recipe/Breakfast Greek Yogurt Delight">Breakfast Greek Yogurt Delight </a> </li>
      <li><a href="/health/recipe/Sweet Cottage Cheese & Blue Berries">Sweet Cottage Cheese & Blue Berries</a> </li>
      <li><a href="/health/recipe/Egg White Frittata">Egg White Frittata</a> </li>
    </ul>
  </div>
  <div>

  <button id="lunch">LUNCH</button>
  </div>
  <div style="display:none" class="lunch-menu">
    <ul>
      <li><a href="/health/recipe/Tomato and Hummus Pocket Sandwich">Tomato and Hummus Pocket Sandwich</a> </li>
      <li><a href="/health/recipe/Mixed Greens with Sliced Cucumber and Avocado">Mixed Greens with Sliced Cucumber and Avocado</a> </li>
      <li><a href="/health/recipe/Smoked Almond Cottage Cheese Endive Bites">Smoked Almond Cottage Cheese Endive Bites</a> </li>
      <li><a href="/health/recipe/Protein Yogurt and Blueberries">Protein Yogurt and Blueberries</a> </li>
      <li><a href="/health/recipe/Yogurt with Walnuts & Honey">Yogurt with Walnuts & Honey </a> </li>
      <li><a href="/health/recipe/Seedy Avocado Toast">Seedy Avocado Toast </a> </li>
      <li><a href="/health/recipe/Cottage Cheese with Cucumber and Tomato">Cottage Cheese with Cucumber and Tomato </a> </li>
      <li><a href="/health/recipe/Peanut Butter Mango Smoothie">Peanut Butter Mango Smoothie</a> </li>
    </ul>
  </div>
  <div>

  <button id="dinner">DINNER</button>
  </div>
  <div style="display:none" class="dinner-menu">
    <ul>
      <li><a href="/health/recipe/Soba Noodles & Coconut Curry">Soba Noodles & Coconut Curry </a> </li>
      <li><a href="/health/recipe/Edamame Slaw">Edamame Slaw</a> </li>
      <li><a href="/health/recipe/Sundried Tomato and Avocado Chopped Salad">Sundried Tomato and Avocado Chopped Salad </a> </li>
      <li><a href="/health/recipe/Avocado Pesto Pasta">Avocado Pesto Pasta</a> </li>
      <li><a href="/health/recipe/Alfredo Mostaccioli">Alfredo Mostaccioli</a> </li>
      <li><a href="/health/recipe/Arugula Pine Nut Salad">Arugula Pine Nut Salad</a> </li>
      <li><a href="/health/recipe/Barbeque Tempeh Sandwiches">Barbeque Tempeh Sandwiches</a> </li>
      <li><a href="/health/recipe/Pasta with Baby Broccoli and Beans">Pasta with Baby Broccoli and Beans</a> </li>
    </ul>
  </div>
<div>
   <button id="snacks">SNACKS</button>
   </div>
   <div style="display:none" class="snack-menu">
    <ul>
       <li> Vegetable Chips</li>
        <li>Nuts and Seeds </li>
        <li>Fruit </li>
        <li> Roasted Chickpeas</li>
        <li> Veggie Sticks with Hummus</li>
        <li>Coconut chips</li>
        <li> Coconut yogurt</li>
        <li>Veggie/Fruit Sticks with Nut Butter </li>
    </ul>
   </div>
