<h1>Vegetarian weight loss page</h1>

 <button id="breakfast">BREAKFAST</button>
   <div style="display:none" class="breakfast-menu">
<ul>
    <li>Scrambled Eggs with Spinach </li>
</ul>
   </div>
   <button id="lunch">LUNCH</button>
   <div style="display:none" class="lunch-menu">
<ul>
    <li>Grilled Chicken Salad with Mixed Greens</li>
</ul>
   </div>
   <button id="dinner">DINNER</button>
   <div style="display:none" class="dinner-menu">
<ul>
    <li>Baked Salmon with Lemon and Dill </li>
</ul>
   </div>
   