<h1>Vegetarian weight loss page</h1>
<div>

 <button id="breakfast">BREAKFAST</button>
</div>
   <div style="display:none" class="breakfast-menu">
<ul>
      <li><a href="/health/recipe/Protein Greek Yogurt and Fruit Salad">Protein Greek Yogurt and Fruit Salad</a> </li>
      <li><a href="/health/recipe/Cucumber Avocado Toast">Cucumber Avocado Toast</a> </li>
      <li><a href="/health/recipe/Peaches and Cream Protein Shake">Peaches and Cream Protein Shake </a> </li>
      <li><a href="/health/recipe/Microwave Poached Eggs">Microwave Poached Eggs</a> </li>
      <li><a href="/health/recipe/Peanut Butter Coconut Protein Smoothie">Peanut Butter Coconut Protein Smoothie </a> </li>
      <li><a href="/health/recipe/Protein-Boosted Honey Yogurt">Protein-Boosted Honey Yogurt </a> </li>
      <li><a href="/health/recipe/Bell Pepper Egg in a Hole">Bell Pepper Egg in a Hole </a> </li>
      <li><a href="/health/recipe/Blueberry Vanilla Greek Yogurt"> Blueberry Vanilla Greek Yogurt</a> </li>
      <li><a href="/health/recipe/Cabbage Hash Browns"> Cabbage Hash Browns</a> </li>
    </ul>
   </div>
   <div>

   <button id="lunch">LUNCH</button>
   </div>
   <div style="display:none" class="lunch-menu">
<ul>
      <li><a href="/health/recipe/Avocado Citrus Salad with Mint">Avocado Citrus Salad with Mint </a> </li>
      <li><a href="/health/recipe/Chocolate Peanut Butter Oatmeal Protein Shake">Chocolate Peanut Butter Oatmeal Protein Shake</a> </li>
      <li><a href="/health/recipe/Tossed Salad with Artichoke Hearts and Chickpeas"> Tossed Salad with Artichoke Hearts and Chickpeas</a> </li>
      <li><a href="/health/recipe/Arugula Avocado Salad">Arugula Avocado Salad </a> </li>
      <li><a href="/health/recipe/Quick Nori Roll with Cucumber and Avocado"> Quick Nori Roll with Cucumber and Avocado</a> </li>
      <li><a href="/health/recipe/Chocolate Almond Milk Protein Shake">Chocolate Almond Milk Protein Shake </a> </li>
      <li><a href="/health/recipe/Summer Pepper and Tomato Salad">Summer Pepper and Tomato Salad</a> </li>
      <li><a href="/health/recipe/Quick and Easy Low Carb Caprese Salad">Quick and Easy Low Carb Caprese Salad</a> </li>
      <li><a href="/health/recipe/Ole Salad">Ole Salad</a> </li>
    </ul>
   </div>
   <div>

   <button id="dinner">DINNER</button>
   </div>
   <div style="display:none" class="dinner-menu">
<ul>
      <li><a href="/health/recipe/Grilled Zucchini Nachos">Grilled Zucchini Nachos </a> </li>
      <li><a href="/health/recipe/Broccoli with Hummus & Sesame Seeds"> Broccoli with Hummus & Sesame Seeds</a> </li>
      <li><a href="/health/recipe/Lentils with Veggies, Avocado, Walnuts & Hummus">Lentils with Veggies, Avocado, Walnuts & Hummus </a> </li>
      <li><a href="/health/recipe/Teriyaki Chickpeas">Teriyaki Chickpeas</a> </li>
      <li><a href="/health/recipe/Edamame Slaw">Edamame Slaw </a> </li>
      <li><a href="/health/recipe/Peanut Tofu"> Peanut Tofu</a> </li>
      <li><a href="/health/recipe/Vegetable Stir Fry"> Vegetable Stir Fry</a> </li>
      <li><a href="/health/recipe/Low Fat Bean and Cheese Burrito"> Low Fat Bean and Cheese Burrito</a> </li>
      <li><a href="/health/recipe/Basil Pesto Pasta with Roasted Veggies"> Basil Pesto Pasta with Roasted Veggies</a> </li>
    </ul>
   </div>
   <div>

   <button id="snacks">SNACKS</button>
   </div>
   <div style="display:none" class="snack-menu">
    <ul>
        <li>Mixed Nuts</li>
        <li>Avocado Slices</li>
        <li>Carrot Sticks with Guacamole</li>
        <li>Coconut Chips</li>
        <li>Veggie Sticks with Almond Butter</li>
        <li>Zucchini Chips</li>
        <li>Fruit Salad</li>
        <li>Sliced Bell Peppers with Salsa</li>
        <li>Kale Chips</li>
    </ul>
   </div>