<div id="welcome-page" class="recipe-page">
  <br>
  <h2>Vegetarian weight Gain page</h2>
  <br>
  <div class="wrapper scroll-ok">


    <!--Caroussel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <!--Slide 1-->
        <div class="carousel-item active">
          <img
            src="https://www.crowdedkitchen.com/wp-content/uploads/2020/07/vegan-breakfast-bowl.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Breakfast"</h2>
            <p>
            <ul>
  <li><a class="alink" href="/health/recipe/Banana Avocado Protein Smoothie">Banana Avocado Protein Smoothie</a> </li>
  <li><a class="alink" href="/health/recipe/Rice Cake with Strawberries, Cottage Cheese, and Honey">Rice Cake with
      Strawberries,
      Cottage Cheese, and Honey</a> </li>
  <li><a class="alink" href="/health/recipe/Eggs, Cheese, and Mushroom Omelet">Eggs, Cheese, and Mushroom Omelet</a>
  </li>
  <li><a class="alink" href="/health/recipe/Cottage Cheese with Apples & Cinnamon">Cottage Cheese with Apples & Cinnamon
    </a> </li>
  <li><a class="alink" href="/health/recipe/Protein-boosted Honey Yogurt">Protein-boosted Honey Yogurt</a> </li>
  <li><a class="alink" href="/health/recipe/Peanut Butter Berry Pineapple Protein Smoothie">Peanut Butter Berry
      Pineapple Protein
      Smoothie </a> </li>
  <li><a class="alink" href="/health/recipe/Breakfast Greek Yogurt Delight">Breakfast Greek Yogurt Delight </a> </li>
  <li><a class="alink" href="/health/recipe/Sweet Cottage Cheese & Blue Berries">Sweet Cottage Cheese & Blue Berries</a>
  </li>
  <li><a class="alink" href="/health/recipe/Egg White Frittata">Egg White Frittata</a> </li>
</ul>
            </p>
          </div>
        </div>

        <!--Slide 2-->
        <div class="carousel-item">
          <img
            src="https://www.crowdedkitchen.com/wp-content/uploads/2019/03/Vegan-Ramen-4.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Lunch"</h2>
            <p>
            <ul>
    <li><a class="alink" href="/health/recipe/Tomato and Hummus Pocket Sandwich">Tomato and Hummus Pocket Sandwich</a>
    </li>
    <li><a class="alink" href="/health/recipe/Mixed Greens with Sliced Cucumber and Avocado">Mixed Greens with Sliced
        Cucumber and
        Avocado</a> </li>
    <li><a class="alink" href="/health/recipe/Smoked Almond Cottage Cheese Endive Bites">Smoked Almond Cottage Cheese
        Endive Bites</a>
    </li>
    <li><a class="alink" href="/health/recipe/Protein Yogurt and Blueberries">Protein Yogurt and Blueberries</a> </li>
    <li><a class="alink" href="/health/recipe/Yogurt with Walnuts & Honey">Yogurt with Walnuts & Honey </a> </li>
    <li><a class="alink" href="/health/recipe/Seedy Avocado Toast">Seedy Avocado Toast </a> </li>
    <li><a class="alink" href="/health/recipe/Cottage Cheese with Cucumber and Tomato">Cottage Cheese with Cucumber and
        Tomato </a>
    </li>
    <li><a class="alink" href="/health/recipe/Peanut Butter Mango Smoothie">Peanut Butter Mango Smoothie</a> </li>
  </ul>
            </p>
          </div>
        </div>

        <!--Slide 3-->
        <div class="carousel-item">
          <img
            src="https://www.crowdedkitchen.com/wp-content/uploads/2020/08/infused-alcohol-360x480.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Snacks"</h2>
            <p>
            <ul>
              <li><a class="alink" href="">Vegetable Chips</a></li>
              <li><a class="alink" href="">Nuts and Seeds</a></li>
              <li><a class="alink" href="">Fruit</a></li>
              <li><a class="alink" href="">Roasted Chickpeas</a></li>
              <li><a class="alink" href="">Veggie Sticks with Hummus</a></li>
              <li><a class="alink" href="">Coconut chips</a></li>
              <li><a class="alink" href="">Coconut yogurt</a></li>
              <li><a class="alink" href="">Veggie/Fruit Sticks with Nut Butter</a></li>
            </ul>
            </p>
          </div>
        </div>

        <!--Slide 4-->
        <div class="carousel-item">
          <img
            src="https://www.crowdedkitchen.com/wp-content/uploads/2021/02/Mediterranean-sheet-pan-dinner-9.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Dinner"</h2>
            <p>
            <ul>
    <li><a class="alink" href="/health/recipe/Soba Noodles & Coconut Curry">Soba Noodles & Coconut Curry </a> </li>
    <li><a class="alink" href="/health/recipe/Edamame Slaw">Edamame Slaw</a> </li>
    <li><a class="alink" href="/health/recipe/Sundried Tomato and Avocado Chopped Salad">Sundried Tomato and Avocado
        Chopped Salad
      </a> </li>
    <li><a class="alink" href="/health/recipe/Avocado Pesto Pasta">Avocado Pesto Pasta</a> </li>
    <li><a class="alink" href="/health/recipe/Alfredo Mostaccioli">Alfredo Mostaccioli</a> </li>
    <li><a class="alink" href="/health/recipe/Arugula Pine Nut Salad">Arugula Pine Nut Salad</a> </li>
    <li><a class="alink" href="/health/recipe/Barbeque Tempeh Sandwiches">Barbeque Tempeh Sandwiches</a> </li>
    <li><a class="alink" href="/health/recipe/Pasta with Baby Broccoli and Beans">Pasta with Baby Broccoli and Beans</a>
    </li>
  </ul>
            </p>
          </div>
        </div>

      </div>

      <!--Slide buttons-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




  </div>
</div>



