<div id="welcome-page" class="recipe-page">

  <br>
  <h2>Vegetarian weight loss page</h2>
  <br>
  <div class="wrapper scroll-ok">




    <!--Caroussel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <!--Slide 1-->
        <div class="carousel-item active">
          <img
            src="https://www.crowdedkitchen.com/wp-content/uploads/2020/07/vegan-breakfast-bowl.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Breakfast"</h2>
            <p>
            <ul>
      <li><a class="alink" href="/health/recipe/Protein Greek Yogurt and Fruit Salad">Protein Greek Yogurt and Fruit Salad</a> </li>
      <li><a class="alink" href="/health/recipe/Cucumber Avocado Toast">Cucumber Avocado Toast</a> </li>
      <li><a class="alink" href="/health/recipe/Peaches and Cream Protein Shake">Peaches and Cream Protein Shake </a> </li>
      <li><a class="alink" href="/health/recipe/Microwave Poached Eggs">Microwave Poached Eggs</a> </li>
      <li><a class="alink" href="/health/recipe/Peanut Butter Coconut Protein Smoothie">Peanut Butter Coconut Protein Smoothie </a> </li>
      <li><a class="alink" href="/health/recipe/Protein-Boosted Honey Yogurt">Protein-Boosted Honey Yogurt </a> </li>
      <li><a class="alink" href="/health/recipe/Bell Pepper Egg in a Hole">Bell Pepper Egg in a Hole </a> </li>
      <li><a class="alink" href="/health/recipe/Blueberry Vanilla Greek Yogurt"> Blueberry Vanilla Greek Yogurt</a> </li>
      <li><a class="alink" href="/health/recipe/Cabbage Hash Browns"> Cabbage Hash Browns</a> </li>
    </ul>
            </p>
          </div>
        </div>

        <!--Slide 2-->
        <div class="carousel-item">
          <img
            src="https://www.crowdedkitchen.com/wp-content/uploads/2019/03/Vegan-Ramen-4.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Lunch"</h2>
            <p>
            <ul>
      <li><a class="alink" href="/health/recipe/Avocado Citrus Salad with Mint">Avocado Citrus Salad with Mint </a> </li>
      <li><a class="alink" href="/health/recipe/Chocolate Peanut Butter Oatmeal Protein Shake">Chocolate Peanut Butter Oatmeal Protein Shake</a> </li>
      <li><a class="alink" href="/health/recipe/Tossed Salad with Artichoke Hearts and Chickpeas"> Tossed Salad with Artichoke Hearts and Chickpeas</a> </li>
      <li><a class="alink" href="/health/recipe/Arugula Avocado Salad">Arugula Avocado Salad </a> </li>
      <li><a class="alink" href="/health/recipe/Quick Nori Roll with Cucumber and Avocado"> Quick Nori Roll with Cucumber and Avocado</a> </li>
      <li><a class="alink" href="/health/recipe/Chocolate Almond Milk Protein Shake">Chocolate Almond Milk Protein Shake </a> </li>
      <li><a class="alink" href="/health/recipe/Summer Pepper and Tomato Salad">Summer Pepper and Tomato Salad</a> </li>
      <li><a class="alink" href="/health/recipe/Ole Salad">Ole Salad</a> </li>
    </ul>
            </p>
          </div>
        </div>

        <!--Slide 3-->
        <div class="carousel-item">
          <img
            src="https://www.crowdedkitchen.com/wp-content/uploads/2020/08/infused-alcohol-360x480.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Snacks"</h2>
            <p>
            <ul>
              <li><a class="alink" href=""></a></li>
              <li><a class="alink" href="">Avocado Slices</a></li>
              <li><a class="alink" href="">Carrot Sticks with Guacamole</a></li>
              <li><a class="alink" href="">Coconut Chips</a></li>
              <li><a class="alink" href="">Veggie Sticks with Almond Butter</a></li>
              <li><a class="alink" href="">Zucchini Chips</a></li>
              <li><a class="alink" href="">Fruit Salad</a></li>
              <li><a class="alink" href="">Sliced Bell Peppers with Salsa</a></li>
              <li><a class="alink" href="">Kale Chips</a></li>
            </ul>
            </p>
          </div>
        </div>

        <!--Slide 4-->
        <div class="carousel-item">
          <img
            src="https://www.crowdedkitchen.com/wp-content/uploads/2021/02/Mediterranean-sheet-pan-dinner-9.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h2 class="recipe">"Dinner"</h2>
            <p>
            <ul>
      <li><a class="alink" href="/health/recipe/Grilled Zucchini Nachos">Grilled Zucchini Nachos </a> </li>
      <li><a class="alink" href="/health/recipe/Teriyaki Chickpeas">Teriyaki Chickpeas</a> </li>
      <li><a class="alink" href="/health/recipe/Edamame Slaw">Edamame Slaw </a> </li>
      <li><a class="alink" href="/health/recipe/Peanut Tofu"> Peanut Tofu</a> </li>
      <li><a class="alink" href="/health/recipe/Basil Pesto Pasta with Roasted Veggies"> Basil Pesto Pasta with Roasted Veggies</a> </li>
    </ul>
            </p>
          </div>
        </div>

      </div>

      <!--Slide buttons-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




  </div>
</div>