<br>
<br>
<br>
hi

{{#each appt}}
<h1>{{appointmentName}}</h1>
<h2>{{appointmentType}}</h2>
<h3>{{formattedAppointmentDate}}</h3>
<h3>{{appointmentTime}}</h3>
{{/each}}
<button>
    <a href="/agenda/agendaCreate">Create an Appointment</a>
</button>