<!-- MY ACCOUNT PAGE -->

{{#if userInSession}}
  {{#each user}}
  <h2>Welcome, {{username }}!</h2>

  <p>This is your profile page my friend!</p>

  <button>
    <a href="/auth/update/{{id}}">Edit my account</a>
  </button>
  {{/each}}
{{/if}}